.vscode/
__pycache__/
*.pyc
*.tfstate
*.tfstate.*
.terraform/
.env
local.settings.json
.github/
.DS_Store
.idea/
*.log   
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local